services:
  setup:
    image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
    volumes:
      - certs:/usr/share/elasticsearch/config/certs
    user: "0"
    networks:
      - elastic
    environment:
      - ES_DOMAIN_NAME=${ES_DOMAIN_NAME}
      - KIBANA_DOMAIN_NAME=${KIBANA_DOMAIN_NAME}
      - FLEET_DOMAIN_NAME=${FLEET_DOMAIN_NAME}
      - APM_DOMAIN_NAME=${APM_DOMAIN_NAME}
      - TRAEFIK_DOMAIN_NAME=${TRAEFIK_DOMAIN_NAME}
      - TRAEFIK_IP=${TRAEFIK_IP}
    command: >
      bash -c '
        if [ -f config/certs/.setup_complete ]; then
          echo "Setup already complete, staying alive for health checks";
          tail -f /dev/null;
        fi;
        if [ x${ELASTIC_PASSWORD} == x ]; then
          echo "Set the ELASTIC_PASSWORD environment variable in the .env file";
          exit 1;
        elif [ x${KIBANA_PASSWORD} == x ]; then
          echo "Set the KIBANA_PASSWORD environment variable in the .env file";
          exit 1;
        fi;
        if [ ! -f config/certs/ca.zip ]; then
          echo "Creating CA";
          bin/elasticsearch-certutil ca --silent --pem -out config/certs/ca.zip;
          unzip config/certs/ca.zip -d config/certs;
        fi;
        if [ ! -f config/certs/certs.zip ]; then
          echo "Creating certs";
          echo -ne \
          "instances:\n"\
          "  - name: es01\n"\
          "    dns:\n"\
          "      - es01\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          "  - name: kibana\n"\
          "    dns:\n"\
          "      - kibana\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          "  - name: fleet-server\n"\
          "    dns:\n"\
          "      - fleet-server\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          "  - name: apm\n"\
          "    dns:\n"\
          "      - apm\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          "  - name: traefik\n"\
          "    dns:\n"\
          "      - traefik\n"\
          "      - localhost\n"\
          "      - ${ES_DOMAIN_NAME}\n"\
          "      - ${KIBANA_DOMAIN_NAME}\n"\
          "      - ${FLEET_DOMAIN_NAME}\n"\
          "      - ${APM_DOMAIN_NAME}\n"\
          "      - ${TRAEFIK_DOMAIN_NAME}\n"\
          "    ip:\n"\
          "      - ${TRAEFIK_IP:-127.0.0.1}\n"\
          > config/certs/instances.yml;
          bin/elasticsearch-certutil cert --silent --pem -out config/certs/certs.zip --in config/certs/instances.yml --ca-cert config/certs/ca/ca.crt --ca-key config/certs/ca/ca.key;
          unzip config/certs/certs.zip -d config/certs;
        fi;
        echo "Setting file permissions";
        chown -R root:root config/certs;
        find . -type d -exec chmod 750 \{\} \;;
        find . -type f -exec chmod 640 \{\} \;;
        echo "Waiting for Elasticsearch availability";
        until curl -s --cacert config/certs/ca/ca.crt https://es01:9200 | grep -q "missing authentication credentials"; do sleep 30; done;
        echo "Setting kibana_system password";
        until curl -s -X POST --cacert config/certs/ca/ca.crt -u "elastic:${ELASTIC_PASSWORD}" -H "Content-Type: application/json" https://es01:9200/_security/user/kibana_system/_password -d "{\"password\":\"${KIBANA_PASSWORD}\"}" | grep -q "^{}"; do sleep 10; done;

        echo "Waiting for Kibana to be ready...";
        until curl -s --cacert config/certs/ca/ca.crt https://kibana:5601/api/status | grep -q "available"; do sleep 10; done;

        touch config/certs/.setup_complete;
        echo "All done!";
      '
    healthcheck:
      test: ["CMD-SHELL", "[ -f config/certs/es01/es01.crt ]"]
      interval: 1s
      timeout: 5s
      retries: 120
volumes:
  certs:
    driver: local
