# Dynamic Configuration - Self-Signed Mode
# Contains TLS certificates and serversTransports

tls:
  certificates:
    - certFile: /certs/traefik/traefik.crt
      keyFile: /certs/traefik/traefik.key

http:
  serversTransports:
    es-transport:
      serverName: "es01"
      rootCAs:
        - /certs/ca/ca.crt

    kibana-transport:
      serverName: "kibana"
      rootCAs:
        - /certs/ca/ca.crt

    fleet-transport:
      serverName: "fleet-server"
      rootCAs:
        - /certs/ca/ca.crt
