# Dynamic Configuration - Let's Encrypt Mode
# Contains serversTransports only (ACME handles certificates)

http:
  serversTransports:
    es-transport:
      serverName: "es01"
      rootCAs:
        - /certs/ca/ca.crt

    kibana-transport:
      serverName: "kibana"
      rootCAs:
        - /certs/ca/ca.crt

    fleet-transport:
      serverName: "fleet-server"
      rootCAs:
        - /certs/ca/ca.crt
